{% extends "app/layout.html" %}

{% block content %}
<!--<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>-->
{% load static %}
<!--<div class="overlay"></div>--> <!-- Полупрозрачная пленка -->
<div class="content">
    <!--<link rel="icon" href="{% static 'img/favicon(1).ico' %}" />-->
    <!--<p>
        Добро пожаловать в пиццерию "У дядюшки Demetrio"-уютный уголок тепла и уюта. На данной странице мы
        предлагаем пользователю ознакомиться с историей того блюда, которое мы с удовольствием готовим.
        Мы не оставим без внимания любую вашу просьбу и постараемся сделать всё в лучшем виде!
    </p>-->
    <!--<h2>
        Знаете ли вы, что:
    </h2>-->
    <h2>
        Знаете ли вы, что:
    </h2>
    <ul>
        <li>
            <i>
                Многие звёзды шоу-бизнеса начинали свою карьеру, работая разносчиками пиццы
                Например, Жан-Клод Ван Дамм работал разносчиком пиццы на протяжении нескольких лет,
                а Билл Мюррей был пиццистом в одном небольшом ресторанчике.
            </i>
        </li>
        <li>
            <i>
                Первое письменное свидетельство слова пицца датируется 997 годом нашей эры.
                Оно происходит от латинского pinsa, причастия прошедшего времени глагола pinsare,
                что означает «сглаживать» и, вероятно, относится к форме самой пиццы.
            </i>
        </li>
        <li>
            <i>
                Александр Дюма знал, что пицца станет культовой.
                Автор «Трех мушкетеров» побывал в Неаполе в 1835 году.
                Там он заметил, что у неаполитанцев есть своеобразные пищевые привычки:
                много арбузов летом и много пиццы в остальное время года.
            </i>
        </li>
        <li>
            <i> Самый быстрый пиццайоло родом из Великобритании</i>
        </li>
        <li>
            <i>
                Существует 3-D принтер пиццы
                Его разработали в 2013 г. специально для космонавтов.
                Наверное, для того, чтобы не доставлять им пиццу прямо на космическую станцию, а то как-то далековато.
            </i>
        </li>
        <li>
            <i>
                Пицца помогла предотвратить ограбление
                В 2014 г. в дом к одной женщине проник вор.
                Она сделала вид, что заказывает пиццу, хотя на самом деле позвонила в полицию.
                Вот так вот пицца помогла спасти её от ограбления.
            </i>
        </li>
    </ul>
    <h3>
        <b>Давайте познакомимся с нашей командой</b>
    </h3>
    <ol>
        <li>
            <b><u>Курьер.</u></b>
            <i>Его задача быть быстрее ветра, чтобы доставить пиццу вам как можно быстрее, потому что она может остыть</i>
        </li>
        <li>
            <b><u>Пиццемэйкер.</u></b>
            <i>Мастер по созданию пиццы. Интересно как ему удается удержаться, чтобы не съесть её)</i>
        </li>
        <li>
            <b><u>Кассир</u></b>
            <i>Всегда приветлив с посетителями. Может посоветовать что-нибудь вкусное.</i>
        </li>
        <li>
            <b><u>Клинер.</u></b>
            <i>Самый ответственный в нашем коллективе. После него всё блестит, и можно увидеть своё отражение.</i>
        </li>
        <li>
            <b><u>Менеджер</u></b>
            <i>Приходит на работу раньше всех и всегда всё успевает. Крутится как волчок.</i>
        </li>
        <li>
            <b><u>Владелец.</u></b>
            <i>Хозяин нашего заведении. Следит за порядком в коллективе и за тем, чтобы пицца была идеально круглой.</i>
        </li>
    </ol>
    </div>
    {% endblock %}
