{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<!--<div class="overlay"></div>--> <!-- Полупрозрачная пленка -->
<div class="content">
    <a href="https://dodopizza.ru/pskov" target="_blank"> Додо пицца <img src="{% static 'img/result_JgRQ9J-0cw0.jpg' %}" alt="Logo 1" /></a>
    <hr><a href="https://market-delivery.yandex.ru/moscow?quickfilter=pizza&shippingType=delivery" target="_blank"> Delivery Club <img src="{% static 'img/1xX93tFTBOupzS1hkkOfjTxqzruSrlfyTkCChaZ4GKsHqGHT-SZHeWCJJ-sAFh2lrGTYUDfquMAs_CGK1uNASXk_.jpg' %}" alt="Logo 2" /></a><hr>
    <hr><a href="https://eda.yandex.ru/moscow?shippingType=delivery" target="_blank"> Яндекс еда <img src="{% static 'img/result_1231.jpg' %}" alt="Logo 4" /></a><hr>
</div>
{% endblock %}
